<ion-view title="Posts">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in posts" type="item-text-wrap" ui-sref="post({ url : post.data.url })">
        <img ng-src="{{ post.data.thumbnail }}">
        <h2>{{ post.data.title }}</h2>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-info" ng-click="edit(item)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
